@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

/*---------------------------HEADER---------------------------*/
.header-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: darkgray;
    display: flex;
    justify-content: flex-end;
}

.nav_links li {
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
}

.nav_linkss li.tag-title ul li {
    border-bottom: 1px solid #000;
    padding: 5px 0px;
    color: #000;
}

.nav_linkss li.tag-title ul li a{
    position: relative;
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.nav_linkss li.tag-title ul li:hover{
    background-color: #F2AB26;
}

.nav_linkss ul {
    background-color: rgb(253, 253, 253);
    text-align: center;
    padding: 0;
    margin: 25px -25px;
    display: flex;
    
    
}

.nav_linkss li.tag-title {
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.nav_linkss li ul {
    position: absolute;
    width: inherit;
    z-index: 9999999999;
    display: none;
    list-style: none;
}

.nav_linkss li:hover ul {
    display: block;
    z-index: 9999999999;
    text-decoration: none;
}

.nav_linkss li {
    padding: 0px 10px;
    transition: all 0.3s ease 0s;

}

a {
    position: relative;
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.tag-titlee {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    bottom: -15px;

}

.tag-titlee:after {
    content: "";
    position: absolute;
    background-color: #F2AB26;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    text-decoration: none;
}

.tag-help {
    color: darkgray;
}

.tag-help:hover {
    text-decoration: none;
}

.tag-titlee:hover {
    text-decoration: none;
    color: #F2AB26;
}
.tag-titlee:hover:after {
    text-decoration: none;
    width: 100%;
}

.bt-hl {
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-weight: 300;
}

.bt-hl:hover {
    color: #000;
}

.header-wrapperto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5%;
}

.logo-img {
    width: 100px;
    height: 68px;
}

.search-item {
    max-width: 700px;
    border: 1px solid #000000;
    border-radius: 60px;
    padding: 10px 20px;
    align-items: center;
    margin-left: 500px;
}

.search-item input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 1px 2px;
    font-size: 18px;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
.container-cart-item{
    width: 75vw;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    grid-gap: 20px;
    margin-top: 20px;
}

:root {
    --text-clr: #4f4f4f;
}

p {
    color: #6c757d;
}

a {
    text-decoration: none;
    color: var(--text-clr);
}

a:hover {
    text-decoration: none;
    color: var(--text-clr);
}

h2 {
    color: var(--text-clr);
    font-size: 1.5rem;
}

.main_cart {
    background: #fff;
}

.card {
    border: none;
}

.product_img img {
    min-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.product_name {
    color: black;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 500;
}

.card-title p {
    font-size: 0.9rem;
    font-weight: 500;
}

.remove-and-wish p {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.price-money h3 {
    font-size: 1rem;
    font-weight: 600;
}

.set_quantity {
    position: relative;
}

.set_quantity::after {
    content: "(Note, 1 piece)";
    width: auto;
    height: auto;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: 1.5rem;
    font-size: 0.8rem;
}

.page-link {
    line-height: 16px;
    width: 45px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057;
}

.page-item input {
    line-height: 22px;
    padding: 3px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-link:hover {
    text-decoration: none;
    color: #495057;
    outline: none !important;
}

.page-link:focus {
    box-shadow: none;
}

.price_indiv p {
    font-size: 1.1rem;
}

.colorname .button span {
    background: #FF5722;
}

.button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}
  
.button span {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
}

/*----------------Popup-------------------*/
.modall, .modall-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modall-page {
    width: 30vw;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    z-index: 10000;
    max-width: 60vw;
  max-height: 30vw;
}

.modalldesc-content {
    width: 100%;
    display: flex;
}

.modall .modall-page button {
    margin: 20px;
    padding: 0 10px;
    border: 1px solid black;
}

.mr-4 {
    padding: 10px 50px;
}

.modall .modall-page .mr-4 span,input {
    margin: 10px 20px;
}

.modall .modall-page .mr-5 span,input {
    margin: 10px 20px;
}
