@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    background: #eff1f7;
}


.sidebar {
    height: 100vh;
    left: 0;
    top: 0;
    padding-bottom: 50px;
    position: fixed;
    width: 270px;
    z-index: 999;
    overflow: hidden;
    overflow-y: auto;
    transition: .5s;
    background: #fff;
    box-shadow: 0 0 40px #eff1f7;

}

.sidebar .logo {
    margin: 30px;
    background: #fff;
    padding: 33px 30px;
    border-radius: 7px;
    text-align: center;
}

.justify-content-between {
    justify-content: space-between!important;
}

.d-flex {
    display: flex!important;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    line-height: 20px;
    padding: 25px 50px;
    text-align: center;
}

a {

    text-decoration: none;
    color: black;
}
/*--------------------------------------------------------------*/

.header_iner {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 30px;
    position: relative;
    border-radius: 0;
}

.serach_field-area {
    width: 480px;
    position: relative;
}

.serach_field-area .search_inner input {
    color: #000;
    font-size: 17px;
    height: 55px;
    width: 100%;
    padding-left: 82px;
    border: 0;
    padding-right: 15px;
    border-bottom: 1px solid #f4f7fc;
    background: #f5f7fd;
    border-radius: 30px;
}

.serach_field-area .search_inner button {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: 0 0;
    font-size: 12px;
    border: 0;
    padding-left: 40px;
    padding-right: 11px;
}

.align-items-center {
    align-items: center!important;
}

.header_iner .header_right .header_notification_warp {
    margin-right: 50px;
    margin-left: 40px;
}

.profile_info {
    position: relative;
}

.profile_info img {
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

.header_iner .header_right .header_notification_warp li {
    display: inline-block;
}

li {
    list-style: none;
}

.header_iner .header_right .header_notification_warp li a {
    font-size: 20px;
    color: #929bb5;
    position: relative;
    margin-right: 29px;
    display: inline-block;
}
a {
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
}

/*--------------------------------------------------------------*/
.main_content {
    padding-left: 270px;
    width: 100%;
    padding-top: 0!important;
    transition: .5s;
    position: relative;
    min-height: 100vh;
    padding-bottom: 90px;
    overflow: hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.main_content .main_content_iner {
    min-height: 0vh;
    transition: .5s;
    margin: 20px 30px 30px;
}

.p-0 {
    padding: 0!important;
}

.justify-content-center {
    justify-content: center!important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
/*--------------------------*/
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
/*--------------------------*/
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.single_element .quick_activity_wrap {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.single_element .single_quick_activity {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 43px 30px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.single_element .single_quick_activity .icon {
    width: 60px;
    height: 60px;
    flex-basis: 60px;
    text-align: right;
}

.single_element .single_quick_activity .count_content {
    margin-left: 10px;
    flex-basis: 50%;
    text-align: left;
}

.single_element .single_quick_activity h3 {
    font-size: 45px;
    margin-bottom: 0;
    font-weight: 600;
    -webkit-transition: .5s;
    transition: .5s;
    color: #2e4765;
    margin-bottom: 0;
    font-family: rajdhani,sans-serif;
    line-height: 1;
}

/*-------------------------*/
.main_content .main_content_detail {
    min-height: 0vh;
    transition: .5s;
    margin: 20px 30px 10px;
}

.single_element_detail .quick_activity_wrap_detail {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
}

.single_element_detail .single_quick_activity_detail {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 5px 15px;
    position: relative;
    align-items: center;
}

.single_element_detail .single_quick_activity_detail .count_content {
    margin-left: 10px;
    flex-basis: 50%;
    text-align: left;
}

.single_element_detail .single_quick_activity_detail h3 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    -webkit-transition: .5s;
    transition: .5s;
    color: #2e4765;
    margin-bottom: 0;
    font-family: rajdhani,sans-serif;
    line-height: 1;
}

input[type="date"] {
    padding: 2px;
    border: none;

}
/*------Table--------*/
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th,td {
    border-top: 1px solid #2e4765;
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

td img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 3px;
    border: 1px solid #fff;
}



/*--------------*/
.main_content .main_content_bestseller {
    min-height: 0vh;
    transition: .5s;
    margin: 20px 30px 10px;
}

.single_element_bestseller .quick_activity_wrap_bestseller {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 15px;
}

.single_element_bestseller .single_quick_activity_bestseller {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 5px 15px;
    position: relative;
    align-items: center;
}

.single_element_bestseller .single_quick_activity_bestseller .count_content {
    margin-left: 10px;
    flex-basis: 50%;
    text-align: left;
}

.single_element_bestseller .single_quick_activity_bestseller h3 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    -webkit-transition: .5s;
    transition: .5s;
    color: #2e4765;
    margin-bottom: 0;
    line-height: 1;
}

/*------------------------------*/
.main_content .main_content_iner_mf {
    min-height: 10vh;
    transition: .5s;
    margin: 20px 30px 30px;
    background-color: #fff;
}

.main_content_iner_mf .checkbox_staff input[type="submit"] {
    margin-left: 1500px;
    padding: 5px 10px;
    color: white;
    background-color: #00a015;
    border: none;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    
}

.mr-4 {
    padding: 20px 50px;
}

.checkbox_staff {
    margin-top: 50px;
}

.checkbox_staff .mr-4 label {
    padding: 0px 30px;
    font-size: 18px;
}

.select_list {
    margin-top: 20px;
    padding: 20px 50px;
}

.select_list label{
    font-size: 24px;
    font-weight: 600;
    padding: 0px 10px;
}

/*----------------------------------*/
.set_manageadmin {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.set_manageadmin img{
    min-width: 250px;
    min-height: 250px;
    object-fit: cover;
    max-width:180px;
    max-height: 180px;
    border: 1px solid black;
}
.set_manageadmin .set_img img{
    min-width: 650px;
    min-height: 250px;
    border: 1px solid black;
}

.set_manageadmin2 {
    margin: 20px 10px;
}

.set_manageadmin3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
}

/*----------------------------------*/
.list_order .table_section thead .title_code{
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: none;
    padding: 0px 50px;
    border-right: 1px solid #2e4765;
    border-top: 1px solid #2e4765;
    border-left: 1px solid #2e4765;
}

.main_content .main_content_iner_co {
    min-height: 10vh;
    transition: .5s;
    margin: 20px 30px -60px;
    background-color: #fff;
}

.main_content .list_order {
    min-height: 10vh;
    transition: .5s;
    margin: 20px 30px 30px;
    background-color: #fff;
}














.test {
    display: flex;
    justify-content: space-between;
}

.mt-3 {
    margin-bottom: 60px;
}


/*----------------------------------*/

.modal_add, .modall-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;
}

.modall-page {
    width: 30vw;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    z-index: 10000;
    max-width: 60vw;
  max-height: 30vw;
}

/*---------------------------------------*/
.button_perr {
    position: absolute;
    top: 200px;
    margin: 8px 760px;
}

.button_listr {
    margin: 10px 10px;
    padding: 10px 5px;
}

.button_listr1 {
    margin: 10px 10px;
    padding: 19px 5px;
}

.button_listr2 {
    margin: 10px 10px;
    padding: 10px 5px;
}

.button_listr3 {
    margin: 10px 10px;
    padding: 19px 5px;
}

.button_listr4 {
    margin: 10px 10px;
    padding: 10px 5px;
}

.button_perr1 {
    position: absolute;
    top: 200px;
    margin: 8px 1155px;
}

.button_listr5 {
    margin: 20px 10px;
    padding: 35px 5px;
}