@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}



/*---------------------------HEADER---------------------------*/
.header-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: darkgray;
    display: flex;
    justify-content: flex-end;
}

.nav_links li {
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
}

.nav_linkss li.tag-title ul li {
    border-bottom: 1px solid #000;
    padding: 5px 0px;
}

.nav_linkss li.tag-title ul li:hover{
    background-color: #F2AB26;
}

.nav_linkss ul {
    background-color: rgb(253, 253, 253);
    text-align: center;
    padding: 0;
    margin: 10px -25px;
    display: flex;
    
    
}

.nav_linkss li.tag-title {
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.nav_linkss li ul {
    position: absolute;
    width: inherit;
    z-index: 9999999999;
    display: none;
    list-style: none;
}

.nav_linkss li:hover ul {
    display: block;
    z-index: 9999999999;
    text-decoration: none;
}

.nav_linkss li {
    padding: 0px 10px;
    transition: all 0.3s ease 0s;

}

a {
    position: relative;
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.tag-titlee {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    bottom: 15px;

}

.tag-titlee:after {
    content: "";
    position: absolute;
    background-color: #F2AB26;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    text-decoration: none;
}

.tag-help {
    color: darkgray;
}

.tag-help:hover {
    text-decoration: none;
}

.tag-titlee:hover {
    text-decoration: none;
    color: #F2AB26;
}
.tag-titlee:hover:after {
    text-decoration: none;
    width: 100%;
}

.bt-hl {
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-weight: 300;
}

.bt-hl:hover {
    color: #000;
}

.header-wrapperto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5%;
}

.logo-img {
    width: 100px;
    height: 68px;
}

.search-item {
    max-width: 700px;
    border: 1px solid #000000;
    border-radius: 60px;
    padding: 10px 20px;
    align-items: center;
    margin-left: 500px;
}

.search-item input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 1px 2px;
    font-size: 18px;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

/*-----------------------------------Slide---------------------------------*/
.container {
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: 350px;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}
/*------------------------------------------List item----------------------------------------- */
.list-item .nav_list-item{  /*จัดซ้ายขวา*/
    position: absolute;
    margin-top: 20px;
    left: 50px;
}

.list-item .nav_list-item li a{
    color: #000;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav_list-item li{
    list-style: none;
    transition: all 0.3s ease 0s;
}

/*------------------------------------------SHOP-----------------------------------------*/
.container-lish-item {
    width: 75vw;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.product-item {
    position: relative;
}

.product-item .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.product-item .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #890A03;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.product-item .card:hover:before {
    clip-path: circle(200px at 80% 20%);
}

.product-item .card:after {
    content: '';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.product-item .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8888;
    width: 100%;
    height: 220px;
    transition: 0.5s;
    
}

.product-item .card:hover .imgBx {
    top: 0;
    transform: translateY(0%);
}

.product-item .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}

.product-item .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.product-item .card:hover .contentBx {
    height: 210px;
}

.product-item .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.product-item .card .contentBx h4 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.product-item .card .contentBx .color,
.product-item .card .contentBx .size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.product-item .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.product-item .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.product-item .card .contentBx .color h3,
.product-item .card .contentBx .size h3 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.product-item .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.product-item .card .contentBx .size span:hover {
    background: #9bdc28;
}

.product-item .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.circle {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

/* .product-item .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}


.product-item .card .contentBx .color span:nth-child(3) {
    background: red;
}

.product-item .card .contentBx .color span:nth-child(4) {
    background: blue;
} */

.product-item .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.product-item .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

/*-------------------------POPUP---------------------*/


.modal, .modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-page {
    z-index: 10000;
    min-width: 30vw;
    max-width: 60vw;
    max-height: 30vw;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

.modaldesc-content {
    width: 100%;
    display: flex;
}
.modaldesc-detail {
    margin-left: 20px;

}

.modaldesc-img {
    width: 20vw;
    height: 20vw;
    border-radius: 10px;
    object-fit: cover;
}

.btn-control {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2vw;
    transition: 0.3s;
}

.btn-close {
    background: linear-gradient(125deg, #ececec,#202020);
}

.btn-buy {
    background: linear-gradient(125deg, #e61b36,#9c1032);
    position: absolute;
    right: 540px;
    bottom: 225px;
}

.btn-buy input{
    cursor: pointer;
}

.modaldesc-content .modaldesc-detail .color {
    display: flex;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.modaldesc-content .modaldesc-detail .size {
    display: flex;
    padding: 4px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.modaldesc-content .modaldesc-detail .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.modaldesc-content .modaldesc-detail .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.modaldesc-content .modaldesc-detail .color h3,
.modaldesc-content .modaldesc-detail .size h3 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.modaldesc-content .modaldesc-detail .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.modaldesc-content .modaldesc-detail .size span:hover {
    background: #9bdc28;
}

.modaldesc-content .modaldesc-detail .color input {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.modaldesc-content .modaldesc-detail .color .button span:hover {
    padding: 3px;
}

.modaldesc-content .modaldesc-detail .color .button {
    display: inline-block;
    width: 27px;
    height: 10px;
    margin: 0;
    cursor: pointer;
  }

.modaldesc-content .modaldesc-detail .color .button span {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 100%;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
}

.modaldesc-content .modaldesc-detail .color .button span {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 100%;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
}

.modaldesc-content .modaldesc-detail .color .colorname .button span {
    background: #FFC107;
}

.modaldesc-content .modaldesc-detail .color .colorname input:checked {
    background: #F4511E;
}

.modaldesc-content .modaldesc-detail .color input{
    display: none;
}

.modaldesc-content .modaldesc-detail .sizee input{
    display: none;
}


/* -------------------------------------------------------------------------- */

.main_content .main_content_detail {
    min-height: 0vh;
    transition: .5s;
    margin: 20px 30px 10px;
}

.single_element_detail .quick_activity_wrap_detail {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 15px;
}

.single_element_detail .single_quick_activity_detail {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 5px 15px;
    position: relative;
    align-items: center;
}

.single_element_detail .single_quick_activity_detail .count_content {
    margin-left: 10px;
    flex-basis: 50%;
    text-align: left;
}

.single_element_detail .single_quick_activity_detail h3 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    -webkit-transition: .5s;
    transition: .5s;
    color: #2e4765;
    margin-bottom: 0;
    font-family: rajdhani,sans-serif;
    line-height: 1;
}

input[type="date"] {
    padding: 2px;
    border: none;

}
/*------Table--------*/
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th,td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

td img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 3px;
    border: 1px solid #fff;
}

.priceall {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.price_cf {
    display: flex;
    justify-content: space-evenly;
}

/*----------------------receipt-------------------------------*/
.container-lish-receipt {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

/*------Table--------*/
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #92c6fa;
    color: #000000;
    font-size: 15px;
}

th,td {
    border: 1px solid #2e4765;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

td img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 3px;
    border: 1px solid #fff;
}

.name-detail {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.container-lish-receipt2 {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
}